language: node_js
node_js:
- lts/boron
- node
after_script: bash <(curl -s https://codecov.io/bash)
deploy:
  provider: releases
  skip_cleanup: true
  api_key:
    secure: MEIymbpyD1ot/GY74yvBGsF59WlP93BRS3MipsW4vbLW482a4SeownoLqwJy2OIIQomUnWT3fjnrvlLuIiW9aPNbCrZ9sQquGo1tq5x8MWEmsCYWp6owZxRpi0qvXn/7nK6C1T5SjwnltqIHVeJAsB40poE972gdJkdAA0iRhU80dIcusbDyqU55t5EL12uw+eCHlqFtvmzVKTAj+JxjclOL/vnOzyGKhdk1VqnyDsyWYPyYUgAQFEJ85t7SxTimo5icbUkmTIt3RBLVpigmuSivf0idxue8lmVPwHdggYpl9d0+PYUGsOgJYt43pQVZqhsKXNBtcueDHrTI6oM66detj0rrGAJaeo3DvLb6tHZLzDZ+S9qRnE4lqo5BM0jqUunwICcOLUpg2yKfmecutLxuBkqt5uPt8iKkioqMxuK6BVawoet2/ozkFM5NHveb2bNNPNtNIW/OOkhihhDg6fRJdO2IHnlqaJdKKqx5UqV4QXQAvMMSSr8HEUvmGQdTisKYIZLwkXVNzbTXaMTOfRxWK+YzJMev9Iu8V3hu4SGkwG5P+XjBW565b19kPMrwzVgCzmBtVE7lTgDg2rD5CTjJO7k8gkYv3SaDsYeAxmO6zQpt+JVN/Rvos9/jZMgM+Gjrhb5jfO9ktB3ZnbkppFU5sFAArBcJ1cKVUMeYWus=
  file:
    - "unist-util-stringify-position.js"
    - "unist-util-stringify-position.min.js"
  on:
    tags: true
